.profile-page-section {
    display: grid;
    height: 100%;
    grid-template-rows: 10rem 10rem 1fr;
}

.profile-form {
    width: 20rem;
    justify-self: center;
    align-self: center;
}

.profile-page-change-user-details-buttons {
    display: grid;
}


.profile-page-user-details-title {
    font-size: var(--big-font-size);
}

.profile-page-user-details-value {
    font-size: var(--larger-font-size);
}