.chat-outter-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 10px;
    width: 22.5rem;
    background-color: var(--colour-blue-gray);
    text-align: center;
    font-size: 3rem;
}

.chat-inner-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "title" "body" "sender";
    grid-template-rows: 50px 1fr 50px;
}


.chat-title-container {
    background-color: var(--colour-tertiary);
}

.chat-body-container {
    background-color: var(--colour-secondary);
    color: var(--colour-white);
    text-align: initial;
    font-size: initial;
}

.chat-sender-container {
    background-color: var(--colour-secondary);
}
